html {
    font-family: arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    font-family: Graphik;
    background-color: #ffb579;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}

header a {
    text-decoration: none;
    font-size: 36px;
    color: black;
    letter-spacing: 0.05em;
}

body {
    
}