html {
    font-family: arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
}

header {
    font-family: Graphik;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: black;
    height: 40px;
    text-align: center;
}

header a {
    text-decoration: none;
    font-size: 36px;
    color: white;
    letter-spacing: 0.05em;
}

body {
    margin: 0;
    padding-top: 40px;
    background-color: rgb(242, 242, 242);
}

main {
    margin: 0 550px;
}

h1 {
    margin: 24px;
    font-size: 42px;
    color: black;
}

.element-link {
    text-decoration: none;
    color: black;
}

div {
    height: 90px;
    border: 2px solid #c6c6c6;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 6px;
    padding-left: 24px;
}

div:hover {
    border: 2px solid #484848;
}

div h2 {
    margin-top: 33px;
}